<app-admin-nav></app-admin-nav>

<div id="content" class="container">
  <table class="table">
    <thead>
    <tr>
      <th>Username</th>
      <th>Gender</th>
      <th>Email</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users | paginate: { id: 'id', itemsPerPage: page?.size, currentPage: page?.number, totalItems: page?.totalElements }">
      <td>{{user.name}}</td>
      <td>{{user.gender}}</td>
      <td>{{user.email}}</td>
      <td align="center">
        <a class="btn btn-danger" (click)="remove(user.id)">X</a>
      </td>
    </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="pageChanged($event)" id="id"></pagination-controls>
</div>
