<app-nav></app-nav>

<div id="content">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let order of orders | paginate: { id: 'id', itemsPerPage: page?.size, currentPage: page?.number, totalItems: page?.totalElements }">
            Id: {{order.id}}, Price: {{order.price}}, Date: {{order.date | date : 'yyyy-MM-dd'}}
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let bookOrder of order.bookOrders">
                    Name: {{bookOrder.book.name}}, Image: <img src="{{bookOrder.book.photoLink}}" width="100"/>, Price: {{bookOrder.book.price}}, Count: {{bookOrder.count}}
                </li>
            </ul>
        </li>
    </ul>
    <pagination-controls (pageChange)="pageChanged($event)" id="id"></pagination-controls>
</div>
