<app-admin-nav></app-admin-nav>

<div id="content" class="container">

    <button (click)="create()" class="btn btn-primary">Create</button>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Photo</th>
                <th>Price</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books | paginate: { itemsPerPage: page?.size, currentPage: page?.number, totalItems: page?.totalElements }">
                <td>{{book.name}}</td>
                <td>
                    <img src="{{book.photoLink}}" width="100">
                </td>
                <td>{{book.price}}</td>
                <td><button (click)="edit(book)" class="btn btn-info">Edit</button></td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</div>
