<app-nav></app-nav>

<div id="content" class="container">

    <div *ngFor="let book of books | paginate: { itemsPerPage: page.size, currentPage: page.number, totalItems: page.totalPages }" class="row">
        <div class="col">
            Name: {{book.name}}, Image: <img src="{{book.photoLink}}" width="100"/>, Price: {{book.price}}
            <a [class.disabled]="isCountExceeded(book)" (click)="addToCart(book)" class="btn btn-info">+</a>
        </div>
    </div>
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</div>
